body{
    margin: 0px;
    padding: 0px;
}

.out_bl{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    height: 100vh;
    background-color: black;
}

.hw{
    color: #111;
    font-size: 9em;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}